.logo-link {
    text-decoration: none;
    display: block;
  }
  
  .logo {
    display: flex;
    align-items: center;
    position: relative;
  }
  

  .logo-link .logo-text {
    font-size: 22px;
    font-weight: 700;
    color: white;
    letter-spacing: 1px;
  }
  
  .logo-triangle {
    position: relative;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 12px solid #0052FF;
    margin-left: 5px;
    margin-top: -8px;
  }