.logo-link {
    text-decoration: none;
    display: inline-block;
  }
  
  .logo-with-triangle {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .logo-link .logo-with-triangle .logo-text {
    font-size: 22px;
    font-weight: 700;
    color: #000;
    letter-spacing: 1px;
  }
  

  .logo-svg-icon{
    color: #0052ff;
    align-self: start;
    transform: rotate(35deg);
  }
  
  @media screen and (max-width: 576px) {
    .logo-text {
      font-size: 20px;
    }
  }