.container{
    /* margin-top: 6rem; */
    /* text-align: center;
    padding: 10px;
    max-width: 1200px;
    margin: 6rem auto 1rem; */

    max-width: 800px;
    margin: 7rem auto 2rem;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title{
    margin-bottom: 1rem;
}

